<p>We heard that you lost your password for the Illinois Public Salary Database. Sorry about that!</p>

<p>But don’t worry! You can use the following link to reset your password:</p>

<p>
    <a href="{{ protocol}}://{{ domain }}{{ url('confirm', kwargs={'uidb64':uid, 'token':token}) }}">
        {{ protocol}}://{{ domain }}{{ url('confirm', kwargs={'uidb64':uid, 'token':token}) }}
    </a>
</p>

<p>
    If you don’t use this link within 3 days, it will expire. To get a new password reset link, visit
    <a href="{{ protocol}}://{{ domain }}{{ url('reset') }}">{{ protocol}}://{{ domain }}{{ url('reset') }}</a>
</p>

<p>
    Thanks,<br />
    Your friends at BGA
</p>
