{% extends "base.html" %}

{% block title %}Create a new password{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="form" method="POST">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
            <div class="form-group">
                <label for="id_new_password1">New password</label>
                <input type="password" class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" name="new_password1" id="id_new_password1" />
                {% if form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.new_password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm new password</label>
                <input type="password" class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" name="new_password2" id="id_new_password2" />
                {% if form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.new_password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <hr />
    </div>
</div>

{% endblock %}

