{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="form" method="POST">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
            <label for="id_email">Email address</label>
            <div class="input-group">
                <input type="email" class="form-control" name="email" id="id_email" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <hr />
    </div>
</div>

{% endblock %}

