// for more information on babel-plugin-transform-runtime, see this github thread:
// https://github.com/babel/babel/issues/5085#issuecomment-374903233
{
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}