<div class="col-3">
  <div class="card-body text-center">
    <h3>2017</h3>
    <small class="text-muted">Data year</small>
  </div>
</div>
<div class="col-2">
  <div class="card-body text-center">
    <h3>{{ headcount|format_ballpark_number }}</h3>
    <small class="text-muted">Employees</small>
  </div>
</div>
<div class="col-4">
  <div class="card-body text-center">
    <h3>${{ total_expenditure|format_ballpark_number }}</h3>
    <small class="text-muted">Total expenditure</small>
  </div>
</div>
<div class="col-3">
  <div class="card-body text-center">
    <h3>{{ median_salary|format_salary }}</h3>
    <small class="text-muted">Median salary</small>
  </div>
</div>

{% if entity.is_department == False %}
  <div class="col-3">
    <div class="card-body text-center">
      <h3>{{ salary_percentile|format_percentile }}</h3>
      <small class="text-muted">Median salary percentile</small>
    </div>
  </div>
  <div class="col-3">
    <div class="card-body text-center">
      <h3>{{ expenditure_percentile|format_percentile }}</h3>
      <small class="text-muted">Total expenditure percentile</small>
    </div>
  </div>
  <div class="col-3">
    <div class="card-body text-center">
      <h3>{{ population_percentile|format_percentile }}</h3>
      <small class="text-muted">Population percentile</small>
    </div>
  </div>
{% endif %}
