<div class="card-body">
  <h3 class="card-title mb-4">
    <i class="far fa-building"></i> Departments
    <small><a href="/search/?entity_type=department&parent={{ entity.slug }}">View all ({{ entity.departments.count() }})</a></small>
  </h3>

  <h4 class="card-subtitle">Top-spending departments in {{ entity }}</h4>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Department</th>
          <th scope="col" class="text-right">Number of employees</th>
          <th scope="col" class="text-right">Median salary</th>
          <th scope="col" class="text-right">Total expenditure</th>
        </tr>
      </thead>
      <tbody>
      {% for department in department_salaries %}
        <tr>
          <td><a href="{{ url('department', kwargs={'slug': department.slug}) }}">{{ department.department }}</a></td>
          <td class="text-right">{{ department.headcount|format_exact_number }}</td>
          <td class="text-right">{{ department.amount|format_salary }}</td>
          <td class="text-right">${{ department.total_budget|format_ballpark_number }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <p class="text-right">
    <small><strong>Data year:</strong> {{ data_year }} {% if source_link %}(<a href="{{ source_link }}" rel="nofollow">Source</a>){% else %}<em class="text-secondary">Source coming soon</em>{% endif %}</small>
  </p>
</div>
