<div id="accordian">
    <div class="card mb-3">
        <div class="card-header bg-dark">
            <h5 class="text-light">
                Filter <strong>{{ entity_type.title() }}</strong> by
                <button id="{{ entity_type }}-facet-toggle" class="btn btn-sm btn-link bg-dark text-light float-right" align="right" data-toggle="collapse" data-target="#{{ entity_type }}-facets" aria-expanded="false">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    Expand
                </button>
            </h5>
        </div>
        <div class="collapse collapsed" id="{{ entity_type }}-facets" data-parent="#accordion">
            <ul class="list-group list-group-flush">
                {% for facet, value_counts in entity_facets.items() %}
                    {% if value_counts %}
                    <li class="list-group-item">
                        {% with current_facet=facet.split(',')[0]|param_from_index %}
                            <strong>{{ current_facet.title() }}</strong><br />

                            {% for vc in value_counts %}
                                <div class="row">
                                    <div class="col-10">
                                    <a href="/search/?{% if not requested_entities %}entity_type={{ entity_type }}&{% endif %}{{ [(facet.split(',')[0], vc.value)]|url_from_facet(request) }}">
                                        {% if current_facet in ('employer', 'parent') %}
                                            {{ vc.value }}
                                        {% elif current_facet in ('headcount', 'salary', 'expenditure') %}
                                            {{ vc.value|format_range }}
                                        {% else %}
                                            {{ vc.value }}
                                        {% endif %}
                                    </a>
                                    </div>
                                    <div class="col-2">
                                    <span class="badge badge-pill badge-light float-right">{{ vc.count }}</span>
                                    </div>
                                </div>

                                {% if vc.get('pivot') %}
                                    <div class="pivot ml-4 small">
                                    {% for pc in vc.pivot %}
                                        <a href="/search/?{% if not requested_entities %}entity_type={{ entity_type }}&{% endif %}{{ [(facet.split(',')[0], vc.value), (facet.split(',')[-1], pc.value)]|url_from_facet(request) }}">{{ pc.value }}</a> <span class="badge badge-pill text-secondary">{{ pc.count }}</span><br />
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>