<div class="col-lg-4">
  <div class="card h-100 px-3 py-1">
    <div class="card-body text-center d-flex flex-column">
      <h4><i class="fas fa-dollar-sign"></i></h4>
      <h5>Highest paid people in Illinois</h5><br />
      <a href="/search/?entity_type=person&salary_above=150000" class="btn btn-primary mt-auto"><i class="fas fa-search"></i> Explore</a>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="card h-100 px-3 py-1">
    <div class="card-body text-center d-flex flex-column">
      <h4><i class="fas fa-users"></i></h4>
      <h5 class="text-center">Highest spending departments in Chicago</h5><br />
      <a href="/search/?entity_type=department&parent={{ chicago_slug }}" class="btn btn-primary mt-auto"><i class="fas fa-search"></i> Explore</a>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="card h-100 px-3 py-1">
    <div class="card-body text-center d-flex flex-column">
      <h4><i class="fas fa-star"></i></h4>
      <h5>Highest spending police departments</h5><br />
      <a href='/search/?entity_type=department&universe="Police+Department"' class="btn btn-primary mt-auto"><i class="fas fa-search"></i> Explore</a>
    </div>
  </div>
</div>