<div class="card-body">
	<h3 class="card-title mb-4">Payroll Expenditure Breakout</h3>
  <div class="row">
    <div id="payroll-expenditure-chart" class="col-lg-6" style="background-color: lavender; min-height: 300px"></div>
    <div class="col-lg-6">
    	<div class="text-center">
    		<div>
					<h4>$$$$$</h4>
					<h6 class="text-muted">Median Total Pay</h6></br>
				</div>
				<div>
					<h4>$$$</h4>
					<h6 class="text-muted">Median Base Salary</h6></br>
				</div>
				<div>
					<h4>$</h4>
					<h6 class="text-muted">Median Extra Pay</h6></br>
				</div>
		  </div>
    </div>
  </div>
</div>