<table class="table table-striped table-hover">
  <thead class="bg-secondary">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Position</th>
    <th scope="col">Department</th>
    <th scope="col">Start date</th>
    <th scope="col">Salary</th>
  </tr>
</thead>
<tbody>
{% for salary in salaries[:5] %}
  <tr>
    <td>{{ salary.person|title }}</td>
    <td>{{ salary.position.title|title }}</td>
    <td>{{ salary.position.employer|title }}</td>
    <td>{{ salary.start_date or '' }}</td>
    <td>{{ "${:,.2f}".format(salary.amount) }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
<button class="btn btn-lg btn-dark float-right">
  <i class="fas fa-search"></i> See more employees
</button>
