<table class="table table-striped table-hover">
  <thead class="bg-warning">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Position</th>
    {% if unit %}
    <th scope="col">Department</th>
    {% endif %}
    <th scope="col">Salary</th>
  </tr>
</thead>
<tbody>
{% for salary in salaries[:5] %}
  <tr>
    <td><a href="/person/{{ salary.person.slug }}">{{ salary.person }}</a></td>
    <td>{{ salary.position }}</td>
    {% if unit %}
    <td><a href="/employer/{{ salary.position.employer.slug }}">{{ salary.position.employer }}</a></td>
    {% endif %}
    <td>{{ salary.amount|format_salary }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
