@import url("//use.typekit.net/mqd7hhp.css");

$bga-blue: #003a63;
$bga-yellow: #fff200;

$dark: #004c76;
$light: #eaebee;

$red: #c00;
$blue: #4580bb;
$yellow: $bga-yellow;

$body-bg: #f7f7f7;
$body-color: #333333;
$link-color: $blue;
$text-muted: #666666;

$font-family-base: "acumin-pro", Helvetica, Arial, sans-serif;
$headings-font-family: "acumin-pro-condensed", "Arial Narrow", Helvetica, sans-serif;
$headings-font-weight: bold;
$headings-color: $bga-blue;

$breadcrumb-divider-color: #666666;
$breadcrumb-active-color: #666666;

$lead-font-size: 150%;
$lead-font-weight: 400;

$card-cap-bg: $bga-yellow;

@import '../bootstrap/scss/bootstrap';
