<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Illinois Public Salaries Database</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TKXB5X7');</script>
    <!-- End Google Tag Manager -->

    <meta content="Review, explore and compare compensation for public employees throughout Illinois." name="description" />
    <meta content="Illinois Answers Project" name="author" />

    <!-- Facebook metadata -->
    <meta content="Illinois Public Salaries Database" property="og:site_name">
    <meta content="{{ self.title() }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="Review, explore and compare compensation for public employees throughout Illinois." property="og:description">
    <meta content="{{ request.build_absolute_uri() }}" property="og:url">
    <meta content="https://{{ request.get_host() }}{{ static('img/salaries_share_card.png') }}" property="og:image">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Illinois Public Salaries Database">
    <meta name="twitter:creator" content="Illinois Answers Project">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:url" content="{{ request.build_absolute_uri() }}">
    <meta name="twitter:description" content="Review, explore and compare compensation for public employees throughout Illinois.">
    <meta name="twitter:image" content="https://{{ request.get_host() }}{{ static('img/salaries_share_card.png') }}">

    {% if noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% block extra_meta %}{% endblock %}

    <link rel="icon" type="image/webp" href="{{ static('img/cropped-favicon.webp') }}" sizes="32x32" />
    <link rel="icon" type="image/webp" href="{{ static('img/cropped-favicon.webp') }}" sizes="16x16" />

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bga-styles.css') }}" rel="stylesheet">
    <link href="{{ static('css/bootstrap-overrides.css') }}" rel="stylesheet">
    <link href="{{ static('css/custom.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/hid5kve.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <!-- jQuery -->
    <script src="{{ static('js/lib/jquery-3.3.1.min.js') }}"></script>
  </head>

  <body>
    <header class="pb-1">
      <div class="header-top va-container">
        <a class="navbar-brand" href="https://www.bettergov.org/data-tools">
          <img src="{{ static('img/logo-subtitled.svg') }}" alt="Home" class="header__logo-image">
        </a>
        <div class="header-buttons">
          <a href="https://bettergov.salsalabs.org/donationform/index.html" class="support-btn fill-btn text-uppercase" id="donate-header">Donate</a>
          <a href="https://www.bettergov.org/sign-up-for-e-alerts/" class="btn-newsletter text-uppercase px-3">Newsletter</a>
        </div>
        
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark pl-2 pl-md-4 pt-0 pb-0 mb-3 mb-lg-5">
        <div>
          <div class="justify-content-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
            <ul class="navbar-nav text-uppercase">
              <li class="nav-item">
                <a class="nav-link" href="https://www.illinoisanswers.org/investigations">Investigations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.illinoisanswers.org/solutions">Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.illinoisanswers.org/opinion">Opinion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bettergov.org/data-tools/">Databases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bettergov.org/sign-up-for-e-alerts/">Newsletters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bettergov.org/events/">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bettergov.org/about-us/">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
      <div class="header-bottom">
        <h1>Illinois Public Salaries Database</h1>
        <p class="text-uppercase display-sans-serif">Search Illinois Public Employee Salary Data</p>
      </div>
      
    </header>

    <div class="container-fluid" id="main-content">
      {% block content %}{% endblock %}
    </div> <!-- /container -->
    <footer class="footer mt-5 pt-5 pb-3">
      <div class="container-fluid text-center">
          <div class="footer-top">
            <p class="footer-paragraph">
              Our newsroom uncovers waste and wrongdoing in government,<br>
              holds elected officials accountable, litigates for open records<br>
              and meetings, advocates for good government and empowers<br>
              citizens to engage and act.
            </p>
            <div>
              <a href="https://www.bettergov.org/sign-up-for-e-alerts/" class="support-btn transparent-btn text-uppercase">Subscribe</a>
              <a href="https://bettergov.salsalabs.org/donationform/index.html" class="support-btn fill-btn text-uppercase">Support Us</a>
            </div>
          </div>
          <hr>
          <div class="footer-middle">
            <a href="https://www.bettergov.org/data-tools" class="navbar-brand mt-3">
              <img src="{{ static('img/logo-no-subtitle.svg') }}" alt="Home" class="footer__logo-image">
            </a>
            <div>
              <ul class="navbar-nav text-uppercase footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.illinoisanswers.org/investigations">Investigations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.illinoisanswers.org/solutions">Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.illinoisanswers.org/opinion">Opinion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.bettergov.org/data-tools/">Databases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.bettergov.org/sign-up-for-e-alerts/">Newsletters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.bettergov.org/about-us/">About</a>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="footer-bottom">
            <div>
              <span>
                223 W Jackson Blvd, Suite 300 
                Chicago, IL 60606
              </span>
              <span>
                (312) 427-8330
              </span>
              <a href="https://www.bettergov.org/privacy-policy/">Privacy Policy</a>
              <a href="https://www.illinoisanswers.org/about/privacy-policy">Cookie Policy</a>
            </div>
            <div>
              <a href="https://www.facebook.com/bettergov?_rdr=p">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="https://twitter.com/bettergov">
                <i class="fab fa-twitter-square"></i>
              </a>
              <a href="https://www.linkedin.com/company/better-government-association">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/bettergov_/?hl=en">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.youtube.com/user/BGAIllinois">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
      </div>
    </footer>
    {% block modals %}{% endblock %}
    <script src="{{ static('js/lib/popper.min.js') }}"></script>
    <script src="{{ static('js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/lib/fontawesome-all.min.js') }}"></script>
    <script src="{{ static('js/lib/highcharts.src.js') }}"></script>
    <script src="{{ static('js/lib/pattern-fill.js') }}"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDVKMFP"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% block extra_js %}{% endblock %}
  </body>
</html>
