<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Illinois Public Salaries Database</title>

    <meta content="Review, explore and compare compensation for public employees throughout Illinois." name="description" />
    <meta content="Better Government Association" name="author" />

    <!-- Facebook metadata -->
    <meta content="Illinois Public Salaries Database" property="og:site_name">
    <meta content="{{ self.title() }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="Review, explore and compare compensation for public employees throughout Illinois." property="og:description">
    <meta content="{{ request.build_absolute_uri() }}" property="og:url">
    <meta content="https://{{ request.get_host() }}{{ static('img/share_card.jpg') }}" property="og:image">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Illinois Public Salaries Database">
    <meta name="twitter:creator" content="Better Government Association">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:url" content="{{ request.build_absolute_uri() }}">
    <meta name="twitter:description" content="Review, explore and compare compensation for public employees throughout Illinois.">
    <meta name="twitter:image" content="https://{{ request.get_host() }}{{ static('img/share_card.jpg') }}">

    {% if noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% block extra_meta %}{% endblock %}

    <link rel="icon" type="image/png" href="{{ static('img/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon-16x16.png') }}" sizes="16x16" />

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bga-styles.css') }}" rel="stylesheet">
    <link href="{{ static('css/bootstrap-overrides.css') }}" rel="stylesheet">
    <link href="{{ static('css/custom.css') }}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-2 pl-md-4 pt-0 pb-0 mb-3 mb-lg-5">
      <div class="justify-content-left va-container">
        <a class="navbar-brand" href="https://www.bettergov.org/">
          <img src="{{ static('img/bga_logo.png') }}" alt="Home" class="header__logo-image">
          <div id="navbar-series" class="d-none d-md-inline-block">
            Data &<br />Tools
          </div>
        </a>
        <div class="d-inline-block vertical-divider mx-1 mx-sm-2">
          &nbsp;
        </div>
        <a class="navbar-brand" href="/">
          <div id="navbar-title" class="d-inline-block">
            <span class="d-none d-sm-inline">Illinois </span>Public Salaries Database
          </div>
        </a>
      </div>
      <div class="justify-content-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home fa-fw"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search/?entity_type=unit,department,person"><i class="fas fa-search fa-fw"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user-guide/"><i class="fas fa-question fa-fw"></i> FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.bettergov.org/data-tools/"><i class="fas fa-chart-line fa-fw"></i> Data & Tools</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid" id="main-content">
      {% block content %}{% endblock %}

      {% block inspiration %}
      <div class="row my-5">
        <div class="col-md-8 offset-md-2 text-smaller">
          <h4 class="text-center">What are you curious about?</h4>
          <div class="row mt-3">
            {% include 'partials/inspiration.html' %}
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 offset-md-3 text-smaller">
          <h4 class="text-center">Need help or see any problems or errors?</h4>
          <p>This database is a living document and we want to make it more user-friendly and precise. If you think we are missing a government unit, please let us know.</p>

          <p>While we make every reasonable effort to vet the accuracy of compensation included in the database, it is impossible to double-check all numbers in an undertaking of this magnitude. The basic building blocks of this database are reports provided by public agencies and it is possible errors in those initial reports or others made along the way will be reflected in the numbers we publish. That is why we welcome help from the public to identify problems.</p>

          <p>If you spot something that isn’t right, or if information is missing for a government unit you care about, <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">please contact our data coordinator</a>.</p>
        </div>
      </div>
      {% endblock %}
    </div> <!-- /container -->
    <footer class="footer bg-dark mt-5 pt-5 pb-3">
      <div class="container-fluid text-center">
          <h4 class="text-uppercase mb-1">Illinois Public Salaries Database</h4>
          <p>
            <a href="/"><i class="fas fa-home fa-fw"></i> Home</a> |
            <a href="/search/?entity_type=unit,department,person"><i class="fas fa-search fa-fw"></i> Search</a> |
            <a href="{{ url('user_guide') }}"><i class="fas fa-question fa-fw"></i> FAQ</a> |
            <a href="https://www.bettergov.org/data-tools/"><i class="fas fa-chart-line fa-fw"></i> Data & Tools</a>
          </p>

          <a href="https://bettergov.org" class="navbar-brand mt-3">
            <img src="{{ static('img/bga_logo.png') }}" alt="Home" class="header__logo-image" />
          </a><br />
          <p>
            <strong>Better Government Association</strong>
          </p>
          <p>
            223 W Jackson Blvd, Suite 300<br />
            Chicago, IL 60606<br />
            TEL (312) 427-8330
          </p>

          <p class="mt-5">
            Website by <a href="https://datamade.us"><img src="{{ static('img/datamade_logo.png') }}" alt="Home" class="datamade-logo align-top ml-1" /></a>
          </p>
      </div>
    </footer>
    {% block modals %}{% endblock %}
    <script src="{{ static('js/lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static('js/lib/popper.min.js') }}"></script>
    <script src="{{ static('js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/lib/fontawesome-all.min.js') }}"></script>
    <script src="{{ static('js/lib/highcharts.src.js') }}"></script>
    <script src="{{ static('js/lib/pattern-fill.js') }}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18960172-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-18960172-1');

      // Track source file downloads
      $('.entity-source-link').click(function(e) {
        var sourceLink = e.target.href;

        gtag('event', 'downloaded', {
          'event_category': 'downloads',
          'event_label': sourceLink
        });
      })
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
