{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block extra_meta %}
{% if request.GET %}
<link rel="canonical" href="https://{{ request.get_host() }}{{ request.path }}" />
{% endif %}
{% endblock %}

{% block content %}
<div class="row px-3">
  <div class="col-md-3 donate-mt-sm overgrow-mx">
    
    {% block inspiration_card %}
    <div class="row mb-5 aside-content">
      <div class="text-smaller inspiration">
        <div class="px-3 py-3">
          <h3 class="text-black">What are you curious about?</h3>
          <p class="mt-3 body-sans-serif">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
        <hr>
        <div class="row p-1">
          {% include 'partials/inspiration_card.html' %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% include 'partials/donate.html' %}
  </div>
  <div class="col-md-7 offset-md-1">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% include 'partials/breadcrumbs.html' %}
        </ol>
      </nav>
    </div>
    <span class="body-sans-serif text-uppercase">
        Department
    </span>
    <div class="sticky-top-button">
      <div class="float-lg-right pt-2 ml-5">
        {% include 'partials/year_selector.html' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md pl-0">
        <h2 class="mb-3">{{ entity }}</h2>
      </div>
    </div>

    <div class="row mb-4 justify-content-around" style="clear: both;">
      {% with context = aggregate_stats %}
        {% include 'partials/baseball_stats.html' %}
      {% endwith %}
    </div>

    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row flex-column">
              <div id="intro-text">
                <h3 class="card-title mb-4">
                  Summary
                </h3>

                <p><strong>{{ entity }}</strong> made up <strong id="entity-percent-of-expenditure"></strong> of the total payroll expenditure of <strong><a href='{{ url("unit", kwargs={"slug": entity.parent.slug}) }}'>{{ entity.parent }}</a></strong> in <strong class="entity-data-year"></strong>.</p>

                {% if entity.is_comparable and entity.parent.taxonomy|string != 'Chicago Municipal' %}
                  <p>This department's total expenditure is higher than <strong id="entity-expenditure-percentile"></strong> of other <strong><a href='{{ url("search") }}?universe="{{ entity.universe }}"'>{{ entity.universe }}s</a></strong> in the <strong>{{ entity.parent.taxonomy }}</strong> category.</p>

                  <p>This department's median salary is higher than <strong id="entity-salary-percentile"></strong> of other <strong><a href='{{ url("search") }}?universe="{{ entity.universe }}"'>{{ entity.universe }}s</a></strong> in the <strong>{{ entity.parent.taxonomy }}</strong> category.</p>
                {% endif %}
              </div>
              <div id="employee-distribution-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          {% include 'partials/employee_card.html' %}
          {% include 'partials/payroll_expenditure.html' %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://unpkg.com/@ungap/url-search-params@0.2.2/min.js"></script>
<script type="text/javascript" src="{{ static('js/chart_helper.js') }}"></script>
<script type="text/javascript" src="{{ static('js/data_year_toggle.js') }}"></script>
<script type="text/javascript" src="{{ static('js/employer.js') }}"></script>
<script type="text/javascript" src="{{ static('js/story_feed.js') }}"></script>

<script type="text/javascript">
  const slug = '{{ entity.slug }}';
  const dataYear = $('#selected-year').text();

  initDataYearToggle('departments', slug, dataYear, Department.update);
</script>
{% endblock %}
