{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_meta %}
<!-- Google Search Console verification -->
<meta name="google-site-verification" content="s2mSAaMuLO9-YuzuDOGBgHiGTSe9QN-mZ7XM8Vxxx90" />
{% endblock %}

{% block extra_css %}
<link href="{{ static('css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row mb-5">
  <div class="col-md-10 offset-md-1 pl-md-0">
    <div class="alert alert-warning" role="alert">
      <p class="lead">
        <strong>Dear BGA readers,</strong>
      </p>

      <p>
        First, thanks very much for visiting our Salary Database site. We know hundreds of thousands of people use it throughout the year and find it useful.
      </p>

      <p>
        But we need your help to keep this important source of information going. This database costs money and time to complete. We contract with outside organizations, and BGA staffers spend more than a year requesting, compiling, organizing and checking data from hundreds of government bodies across Illinois to bring this site to you for free. We don't run ads and we are a small nonprofit.
      </p>

      <p>
        If every person who visited this site gave us $1, we could complete our fundraising for the year right now. If you find this database valuable, please take just a few minutes to support it. Thank you.
      </p>

      <p class="text-center">
        <a href="https://donate.bettergov.org/?utm_source=database&utm_medium=other" class="btn btn-primary btn-lg" target="_blank">
          Please support this work today!
        </a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 offset-md-1">
    <div class="row">
      <div class="jumbotron bg-light">
        <div class="row mb-lg-5">
          <div class="col-md-12">
            <h1 class="mb-5">Search Illinois public employee salary data</h1>
          </div>
          <div class="col-md-3 align-self-center d-none d-lg-block">
            <img src="{{ static('img/capitol-dome.png') }}" class="pr-2 img-fluid bga-blue-filter" />
          </div>
          <div class="col-md align-self-center">
              <p class="lead">Every year, the Better Government Association compiles <strong class="bg-warning">Illinois’ most comprehensive database</strong> to review, explore and compare compensation for public employees throughout Illinois. We do this because the BGA believes detailing how tax dollars are spent serves the public interest.</p>
          </div>
        </div>

        <form id="entity-form">
          <div class="row">
            <div class="col-md mb-3">
              <strong class="mr-3">I'm looking for a:</strong>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="unit-check" value="unit" checked>
                <label class="form-check-label" for="unit-check"><i class="fas fa-building"></i> Unit</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="department-check" value="department" checked>
                <label class="form-check-label" for="department-check"><i class="far fa-building"></i> Department</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="person-check" value="person" checked>
                <label class="form-check-label" for="person-check"><i class="far fa-address-card"></i> Person</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="input-group">
                <input type="text" id="entity-lookup" class="form-control form-control-lg" autofocus />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-lg" id="submit-button" disabled>
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md mt-3 text-smaller">
              <strong class="pr-2">For example,</strong>
              <a href="/search/?name=Cook County&entity_type=unit" class="pr-2"><i class="fa-fw fas fa-building"></i> Cook County</a>
              <a href="/search/?name=Chicago Police Department&entity_type=department" class="pr-2"><i class="fa-fw far fa-building"></i> Chicago Police Department</a>
              <a href="/search/?name=Michael Madigan&entity_type=person" class="pr-2"><i class="fa-fw far fa-address-card"></i> Michael Madigan</a>
            </div>
          </div>
        </form>
      </div><!-- .jumbotron -->
    </div>

    <div class="row mt-4">
      <div class="col-md">
        <div class="clearfix mb-3">
          <div class="row h-100">
            <div class="col-9 my-auto">
              <h3>What's inside?</h3>
            </div>
            <div class="col-3 my-auto">
              {% include 'partials/year_selector.html' %}
            </div>
          </div>
        </div>

        <div class="alert alert-secondary my-4" role="alert">
          <i class="fas fa-info-circle fa-fw"></i> <strong>Use the "Data Year" dropdown menu</strong> to view data from other years.
        </div>

        <p>The <strong>Illinois Public Salaries Database</strong> contains the base and additional pay (such as overtime, sick pay and vacation) for <strong id="index-salary-count"></strong> state, municipal, school and other government employees across Illinois. It covers <strong id="index-unit-count"></strong> units of government. We’ve recently updated the database to highlight how much is being spent in base salaries and now also extra pay. We also have improved the site’s navigation to make it easier to use. <a href="{{ url('user_guide') }}">Learn how to use the database and more about the recent changes we’ve made</a>.</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md">
        <h5>Distribution of public salaries in <span id="index-year"></span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div id="employee-distribution-chart"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8 offset-md-2 alert alert-primary">
        <p>This database is resource intensive, both in money and time. We request, compile, organize and check data we receive from hundreds of taxing bodies across Illinois and put it into an easy-to-use site for you. Like what you see? <strong>Please consider making a donation to help us continue this work.</strong></p>

        <div class="text-center">
          <a class="btn btn-lg btn-success" href="https://donate.bettergov.org/?utm_source=database&utm_medium=other" target="_blank">
            Donate to the BGA
          </a>
        </div>
      </div>
    </div>

    <div class="mt-4"></div>
  </div>

  <div class="col-md-3">
    {% include 'partials/donate.html' %}
    {% include 'partials/story_feed.html' %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('js/lib/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/search.js') }}"></script>
<script type="text/javascript" src="{{ static('js/entity_auto_complete.js') }}"></script>
<script type="text/javascript" src="{{ static('js/story_feed.js') }}"></script>

{% compress js %}
<script type="module">
  import { ChartHelper } from  "js/chart_helper"
  import { initDataYearToggle } from  "js/data_year_toggle"

  // Style the charts a little differently on the homepage.
  Highcharts.setOptions({
    chart: {
      backgroundColor: '#f7f7f7',
    },
    plotOptions: {
      series: {
        borderColor: '#f7f7f7',
      }
    }
  });

  initSearch({{ request.GET.dict()|safe }});

  const dataYear = $('#selected-year').text();

  function updateChart (year, result) {
    ChartHelper.make_salary_chart(result.salary_json, 'employee');
    $('#index-salary-count').text(result.salary_count);
    $('#index-unit-count').text(result.unit_count);
    $('#index-year').text(year);
  }

  initDataYearToggle('index', null, dataYear, updateChart);
</script>
{% endcompress %}
{% endblock %}
