{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7 offset-md-1">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% with entity = current_employer %}
            {% include 'partials/breadcrumbs.html' %}
          {% endwith %}
          <li class="breadcrumb-item active" aria-current="page">{{ entity }}</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-md">
        <h2 class="mb-3">
          <i class="far fa-address-card"></i>
          {{ entity }}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6" id="intro-text">
                <h3 class="card-title mb-4">
                  <i class="fas fa-list"></i> Summary
                </h3>
                <p><strong>{{ entity }}</strong> earned <strong class="bg-warning">{{ current_salary|format_salary }}</strong> in {{ data_year }} as {{ current_job.title|an_or_a(bold=True)|safe }} for <strong><a href="{{ url(current_employer.endpoint, kwargs={"slug": current_employer.slug}) }}">{{ current_employer.name }}</a></strong>. {% if current_job.start_date %}{{ entity.last_name }} had worked in this position since <strong>{{ current_job.start_date.strftime('%B %d, %Y') }}</strong>.{% endif %}</p>

                <p>{{ entity.last_name }} earned more than <strong>{{ employer_percentile|format_percentile }}</strong> of employees in <strong><a href="{{ url(current_employer.endpoint, kwargs={"slug": current_employer.slug}) }}">{{ current_employer.name }}</a></strong>.</p>

                {% if current_employer.is_comparable %}
                  <p>{{ entity.last_name }} earned more than <strong>{{ like_employer_percentile|format_percentile }}</strong> of employees across all <strong><a href='{{ url("search") }}?{{ employer_type[0].api_param }}="{{ employer_type[0] }}"'>{{ employer_type[0]|pluralize }}</a></strong>{% if employer_type[0] != employer_type[-1] %} in the <strong><a href='{{ url("search") }}?{{ employer_type[1].api_param }}="{{ employer_type[1] }}"'>{{ employer_type[1] }}</a></strong> category{% endif %}.</p>
                {% endif %}
              </div>
              <div id="employee-distribution-chart" class="col-lg-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          {% include 'partials/person_jobs_card.html' %}
        </div>
      </div>
    </div>

    {% if salaries %}
      <div class="row">
        <div class="col-md">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title mb-4">
                <i class="fas fa-users"></i> Other employees with the title <strong>{{ current_job.title }}</strong> at <strong>{{ current_employer.name }} in {{ data_year }}</strong>
              </h3>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="bg-dark text-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col" class="text-right">Total Pay</th>
                    <th scope="col" class="text-right">Start Date</th>
                  </tr>
                </thead>
                <tbody id="entity-salaries">
                {% for salary in salaries %}
                  <tr>
                    <td><a href="{{ url('person', kwargs={'slug': salary.slug}) }}">{{ salary.name }}</a></td>
                    <td>{{ salary.position }}</td>
                    <td class="text-right">
                      {{ salary.total_pay|format_salary }}
                      {% if current_salary < salary.total_pay %}
                        <span class="text-success"><i class="fas fa-arrow-up"></i></span>
                      {% elif current_salary > salary.total_pay %}
                        <span class="text-danger"><i class="fas fa-arrow-down"></i></span>
                      {% else %}
                        <i class="fas invisible"></i>
                      {% endif %}
                    </td>
                    <td class="text-right">
                      {% if salary.start_date %}
                        {{ salary.start_date.strftime('%m-%d-%Y') }}
                      {% else %}
                        Not reported
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </div>
              <p class="text-right">
                <small>
                  <strong>Data year:</strong> {{ data_year }}
                  {% if source_link %}
                  (<a class="entity-source-link" href="{{ source_link }}" rel="nofollow">Source</a>)
                  {% else %}
                  <em class="text-secondary">Source coming soon</em>
                  {% endif %}
                </small>
              </p>

            </div>
          </div>
        </div>
      </div>
{% endif %}

  </div>

  <div class="col-md-3">
    {% include 'partials/donate.html' %}
    {% include 'partials/story_feed.html' %}
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('js/story_feed.js') }}"></script>

{% compress js %}
<script type="text/javascript" type="module">
  import { ChartHelper } from 'js/chart_helper'
  ChartHelper.make_salary_chart({{ employer_salary_json|safe }}, 'employee');
  ChartHelper.make_salary_over_time_chart({{ employee_salary_json|safe }});
</script>
{% endcompress %}
{% endblock %}
