{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% include 'partials/breadcrumbs.html' %}
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md">
    <h2 class="mb-3"><i class="fas fa-building"></i> {{ entity }}</h2>

    <div class="badge badge-primary">
      {% if entity.taxonomy %}{{ entity.taxonomy }}{% else %}Unit{% endif %}
    </div>

    {% if size_class %}
    <div class="badge badge-secondary">
      {{ size_class }}
    </div>
    {% endif %}
  </div>
</div>

<div class="row mb-4">
  {% with context = aggregate_stats %}
    {% include 'partials/baseball_stats.html' %}
  {% endwith %}
</div>

<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6" id="intro-text">
            <h3 class="card-title mb-4">
              <i class="fas fa-list"></i> Summary
            </h3>
            {% if size_class %}
              <p>
                With a population of <strong>{{ entity.get_population()|format_ballpark_number }}</strong>, <strong>{{ entity }}</strong> is classified as <strong><a href='{{ url("search") }}?size={{ size_class }}&taxonomy="{{ entity.taxonomy }}"'>{{ size_class }}</a></strong>.

                {# There will only ever be one unit with a population in the
                "Chicago Municipal" taxonomy: the city of Chicago. Ergo, don't
                show this unhelpful number. #}
                {% if entity.taxonomy|string != 'Chicago Municipal' and entity.is_comparable %}
                  It is larger than <strong>{{ population_percentile|format_percentile }}</strong> of <strong><a href='{{ url("search") }}?taxonomy="{{ entity.taxonomy }}"'>{{ entity.taxonomy }}</a></strong> populations in Illinois.
                {% endif %}
              </p>
            {% endif %}

            {% if entity.is_comparable %}
              <p>The median salary in <strong>{{ entity }}</strong> is higher than <strong>{{ salary_percentile|format_percentile }}</strong> of <strong><a href='{{ url("search") }}?taxonomy="{{ entity.taxonomy }}"'>{{ entity.taxonomy }}</a></strong> median salaries in Illinois.</p>

              <p><strong>{{ entity }}</strong> spent more on payroll in {{ data_year }} than <strong>{{ expenditure_percentile|format_percentile }}</strong> of other employers in the <strong><a href='{{ url("search") }}?taxonomy="{{ entity.taxonomy }}"'>{{ entity.taxonomy }}</a></strong> category.</p>
            {% endif %}

            {% if department_salaries %}
              <p>The highest spending department in <strong>{{ entity }}</strong> is the <strong><a href="{{ url('department', kwargs={'slug': highest_spending_department.slug}) }}">{{ highest_spending_department.name }}</a></strong>, with an annual payroll expenditure of <strong>{{ highest_spending_department.amount|format_salary }}</strong>.</p>
            {% endif %}
          </div>
          <div id="employee-distribution-chart" class="col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      {% include 'partials/employee_card.html' %}
      {% include 'partials/payroll_expenditure.html' %}
    </div>
  </div>
</div>

{% if elected_officials %}
<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      {% include 'partials/elected_officials_card.html' %}
    </div>
  </div>
</div>
{% endif %}

{% if department_salaries %}
<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      {% include 'partials/department_card.html' %}
      <div class="card-body">
        <h4 class="card-subtitle mt-3">Top-spending departments as a proportion of total expenditure</h4>
        <h4 class="card-subtitle mb-3"><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></h4>
        <div id="department-composition-chart"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart({{ employee_salary_json|safe }}, 'employee');
  ChartHelper.make_payroll_expenditure_chart({{ payroll_expenditure|safe }});
</script>
{% if department_salaries %}
<script type="text/javascript">
  ChartHelper.make_composition_chart({{ composition_json|safe }});
</script>
{% endif %}

{% endblock %}
