{% extends "base.html" %}

{% block title %}User Guide - Illinois Public Salaries Database{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>FAQ</h1>

    <p class="lead mt-3"><strong>The Illinois Public Salary Database is Illinois’ most comprehensive collection of salaries for public employees throughout the state.</strong> It takes us more than a year to compile.</p>

    <div class="row m-5">
      <div class="col-md-8 offset-md-2">
        {% include 'partials/donate.html' %}
      </div>
    </div>

    <p>As always, you can <a href="/search/?entity_type=unit,department,person">research</a> taxpayer-funded compensation for a broad range of government employees from attorney general to firefighter to office clerk and beyond. But we also continue to place <a href="/department/{{ department_slug }}/">greater emphasis</a> on salary costs affecting governments across Illinois.

    <ul class="my-5">
      <li><a href="#what-has-changed">What has changed since last year?</a></li>
      <li><a href="#updates">How often is the Illinois Public Salaries database updated?</a></li>
      <li><a href="#search">How do I find the records I’m looking for?</a></li>
      <li><a href="#types-of-pay">What is base pay? What is extra pay?</a></li>
      <li><a href="#name-in-database">My name is in this database. Why?</a></li>
      <li><a href="#mistake-removal">What if I see a mistake, or if I would like information removed?</a></li>
      <li><a href="#agency-not-in-database">What if there is a government agency that I don’t see in the database?</a></li>
      <li><a href="#raw-data">Can I obtain the data in this database?</a></li>
      <li><a href="#old-data">Where can I find older salary data?</a></li>
      <li><a href="#other-questions">What if I have other questions?</a></li>
    </ul>

    <h3 class="mt-5" id="what-has-changed">What has changed since last year?</h3>

    <p>We now break out employees’ base pay and extra pay, which includes overtime, bonuses and other additional compensation. We do this to better track how much governments are spending beyond basic salaries in their budgets. For this tool, we do not include government costs for health care and retirement benefits.</p>

    <p>By breaking out base pay and extra pay, we are now able to detail employees’ percentage increases for both base salary and extra pay. We also provide median salaries by unit of government and department for base and extra pay, and we have a more robust work history for many employees.</p>

    <h3 class="mt-5" id="updates">How often is the Illinois Public Salaries database updated?</h3>

    <p>We try to update this tool once per year. All records contained in the database are public and are obtained under open records laws. Because we seek actual payments made to employees, we don’t ask for base and extra pay for employees until after the year is complete.</p>

    <p>This database is resource intensive, both in money and time. We request, compile, organize and check data we receive from hundreds of taxing bodies across Illinois and put it into an easy-to-use site for you. Like what you see? Please consider <a href="https://donate.bettergov.org/?utm_source=database&utm_medium=other" target="_blank">donating</a> to help us continue this work.</p>

    <h3 class="mt-5" id="search">How do I find the records I’m looking for?</h3>

    <p>From the <a href="/">search bar in the top block of the site</a>, you can look for a unit of government, a department within a government or an individual employee. A unit of government can be many different things — a city, a township, a county, a school district, a park district, a library district, a fire protection district, or other type of agency. A department is a subset of the government unit. Think of the Chicago Fire Department’s relationship to the city of Chicago. An employee works for a unit of government or a department (or both in some cases).</p>

    <p>Type the name of the information you are trying to find — government unit, department or employee name. The more precise your entry, the better your results will be.</p>

    <p>From the search page, you can also filter by different criteria, including pay level, headcount, employer type or year. A search can be reset by selecting the “clear filters” option or by clicking “Home” near the top left of the page to return to the landing page. You can also search for individual employees within a unit of government or department.</p>

    <h3 class="mt-5" id="types-of-pay">What is base pay? What is extra pay?</h3>

    <p>Pay totals include base pay and extra pay. Extra pay includes overtime, bonuses, work-related purchase compensation of items — including automobiles, cell phone costs and uniforms — sick time, vacation, personal time or other similar categories. Base pay can be hourly pay, salary, or other compensation for regular work duties.</p>

    <h3 class="mt-5" id="name-in-database">My name is in this database. Why?</h3>

    <p>Your records were provided to the BGA by your government employer via a public-records request through the <a href="https://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=85&ChapterID=2" target="_blank">Illinois Freedom of Information Act</a>. It remains important to us that this database be used for more than just drive-by curiosity. We believe disclosing how taxpayer dollars are being spent is essential to an educated public and think it can be a tool that will add valuable insights into how governments spend our tax dollars.</p>

    <p>No modifications have been made to the data, other than those considered necessary to present the information uniformly and with clarity.</p>

    <h3 class="mt-5" id="mistake-removal">What if I see a mistake, or if I would like information removed?</h3>

    <p>While we make every reasonable effort to vet the accuracy of compensation included in the database, it is impossible to double-check all the information we receive in an undertaking of this magnitude. The basic building blocks of this database are reports provided by public agencies and it is possible errors in those initial reports or other mistakes made along the way will be reflected in the numbers we publish. That is why we welcome help from the public to identify problems.</p>

    <p>The BGA will not modify, remove or add any individual records, unless the records are not consistent with those provided by the pertinent public body at the time of the open-records request.</p>

    <p>If you spot something that isn’t right, or would like to make a claim to have your data removed from the database, please contact our data coordinator. Special circumstances may be considered on a case-by-case basis.</p>

    <h3 class="mt-5" id="agency-not-in-database">What if there is a government agency that I don’t see in the database?</h3>

    <p>If you think we are missing a government unit, please let us know. Our data coordinator might be able to add it to the next update.</p>

    <h3 class="mt-5" id="raw-data">Can I obtain the data in this database?</h3>

    <p>Yes. The raw data used to produce the database can be found on the pages for a unit of government or on the department pages. Then in the employee section of those pages, you can download the raw data by clicking on the link at the bottom right of the section labeled “Data year: 2017 (or 2018) (Source).”</p>

    <p>You can go behind the numbers we’ve distilled and look at the raw data we received from the government agencies that supplied this information to us in response to Freedom of Information Act requests.</p>

    <h3 class="mt-5" id="old-data">Where can I find older salary data?</h3>

    <p>Prior to 2017, the BGA published data of employees’ budgeted salaries. Because that data is different from what we publish now, we don’t include it in our current database. However, if you’d like to access that information, it can be found <a href="https://drive.google.com/file/d/1G-ZCGCuMqGsbjLD33d5D2ZhYwteEfnUB/view?usp=sharing" target="_blank">here</a>.</p>

    <h3 class="mt-5" id="other-questions">What if I have other questions?</h3>

    <p>If we haven’t answered your question above, don’t hesitate to reach out to our data coordinator for answers.</p>

    <div class="alert alert-secondary mt-5">
      <h4 class="text-center mb-3">DISCLAIMER</h4>

      <p>The BGA does not guarantee the accuracy, completeness or validity of this information and disclaims any responsibility for any errors or omissions on this database. The identities of some law enforcement personnel in sensitive positions are not included in the database even though their salaries are.</p>

      <p>Not all employers provided the information broken into categories as requested by the BGA. Responses do not indicate when an employee has left their position, and do not always indicate when an employee was hired, which has an influence on the compensation represented in the database. Government agencies update their payroll systems, which can also change some of the data provided on a year-to-year basis.</p>

      <p>Salaries listed are intended to represent total compensation of government employees for an entire year. Some agencies operate on a calendar year, others on a fiscal year, some on a school year.</p>

      <p>The number of salary records does not always correspond with the number of employees in a government body because some employees are paid for multiple positions. We have tried where possible to compare spending data between government units of similar size and purpose, but record-keeping and reporting practices are not standardized, making comparisons difficult in some cases.</p>

      <p>In their responses, some government units may have either estimated compensation or provided hourly rates of pay. They also may have omitted other information that was requested. We are continually updating this database so records for some government units may not be immediately available. If you think we are missing anything, <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">please let us know</a>.</p>

      <p>In 2017, because of the budget impasse that started in 2015, members of the General Assembly were paid for their work in that year and previous sessions without an approved budget. As a result, state lawmakers’ salaries for 2017 are accurate but are roughly double what they typically are paid because they received a full year of back pay in 2017 after having not been paid in 2016 due to the state budget standoff.</p>

      <p>No modifications have been made to the data, other than those considered necessary to present the information uniformly and with clarity.</p>

      <p>The BGA will not modify, remove or add any individual records, unless the records are not consistent with those provided by the pertinent public body at the time of the open-records request.</p>

      <p>The elementary and secondary education employee data was provided by the Illinois State Board of Education, except for Chicago Public Schools, which received a separate request. The university and college employee data was provided by the Illinois Board of Higher Education, except for Governors State University and the City Colleges of Chicago, which received separate requests.</p>

      <p>The use of the database for commercial purposes or for gathering data in furtherance of any type of marketing is prohibited. Note to members of the news media: As this database is costly in both time and resources, we’d appreciate it if you identify us as the source of the material if you use it.</p>

      <p>All records contained in the database are public and were obtained under open records laws.</p>
    </div>
  </div>
</div>
{% endblock %}
