{% extends "base.html" %}

{% block title %}User Guide - Illinois Public Salaries Database{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>User Guide</h1>
    <h3>What's new?</h3>

    <p class="lead">This is a new and upgraded version of our Illinois Public Salaries Database and we hope you find it more useful.</p>

    <p>As before, you can research taxpayer-funded compensation for a broad range of government employees from attorney general to firefighter to office clerk and beyond.</p>

    <p>But new functions have been added to put government payroll spending in greater context.</p>

    <ul>
      <li>You can view total payroll of government agencies as well as departments within them. You can also compare median salary at government agencies throughout the state with similar sizes and purpose.</li>
      <li>You can view the distribution of salaries at a particular agency as well as see how payroll breaks down by department.</li>
      <li>You can search salaries by types of public bodies such as school districts, libraries or park districts, as well as determine the total number of paid positions for each.</li>
      <li>You can look at how the salary of an individual compares to that of co-workers within the same department, or even how the pay for the department of one government body compares to another.</li>
      <li>Total pay includes base salary and additional pay, including overtime, bonuses and other forms of compensation by individual or agency. We did not seek spending data for health care and retirement benefits.</li>
      <li>And, if you want to get in the weeds, you can go behind the numbers we’ve distilled and look at the raw data we received from the government agencies that supplied this information to us in response to Freedom of Information Act requests.</li>
    </ul>

    <p>It is important to us that this database be used for more than just drive-by curiosity. We believe disclosing how taxpayer dollars are being spent is essential to an educated public and think it can be a tool that will add valuable insights into how governments spend our tax dollars.</p>

    <p>There are different levels of search in this database. From the landing page, you can search by name, government agency and department. After an agency is selected, the search on the second level selects individual names. A search can be reset by selecting the “clear filters” option or by clicking “Home” near the top left of the page to return to the landing page.</p>

    <div class="alert alert-primary mb-4">
      <strong>Note to members of the news media:</strong> As this database is costly in both time and resources, we’d appreciate it if you identify us as the source of the material if you use it.
    </div>

    <h3>Disclaimer</h3>

    <p>All records contained in the database are public and were obtained under open records laws.</p>

    <p>The BGA does not guarantee the accuracy, completeness or validity of this information and disclaims any responsibility for any errors or omissions on this database. The identities of some law enforcement personnel in sensitive positions are not included in the database even though their salaries are.</p>

    <p>Salaries listed are intended to represent total compensation of government employees for an entire year. Some agencies operate on a calendar year, others on a fiscal year, some on a school year. State lawmakers’ salaries for 2017 are accurate but are roughly double what they typically are paid because they received a full year of back pay in 2017 after having not been paid in 2016 due to the state budget standoff. Pay totals include base pay and extra pay. Extra pay includes overtime, bonuses, work-related purchase compensation of items — including automobiles, cellphones and uniforms — sick time, vacation, personal time and other similar categories.</p>

    <p>The number of salary records does not always correspond with the number of employees in a government body because some employees are paid for multiple positions. We have tried where possible to compare spending data between government units of similar size and purpose, but record-keeping and reporting practices are not standardized, making comparisons difficult in some cases.</p>

    <p>In their responses, some government units may have either estimated compensation or provided hourly rates of pay. They also may have omitted other information that was requested. We are continually updating this database so records for some government units may not be immediately available. If you think we are missing anything, <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">please let us know</a>.</p>

    <p>No modifications have been made to the data, other than those considered necessary to present the information uniformly and with clarity.</p>

    <p>The BGA will not modify, remove or add any individual records, unless the records are not consistent with those provided by the pertinent public body at the time of the open-records request.</p>

    <p>The use of the database for commercial purposes or for gathering data in furtherance of any type of marketing is prohibited. We’d also appreciate users not scraping our site.</p>

    <p>The elementary and secondary education employee data was provided by the Illinois State Board of Education.</p>

    <p>The university and college employee data was provided by the Illinois Board of Higher Education.</p>
  </div>
</div>
{% endblock %}
