# This should be False in production!
DEBUG = True

SECRET_KEY = 'a very secret string'

INTERNAL_IPS = ['127.0.0.1']

DATABASES = {
    'default': {
           'ENGINE': 'django.db.backends.postgresql',
           'NAME': 'bga_payroll',
           'USER': '',
           'PASSWORD': '',
           'HOST': 'localhost',
           'PORT': '5432',
    }
}

AWS_STORAGE_BUCKET_NAME = '<bucket_name>'
AWS_ACCESS_KEY_ID = '<key>'
AWS_SECRET_ACCESS_KEY = '<secret>'
