{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
  {% if finish or review_step %}
    <fieldset class="module aligned" style="text-align: center">
      {% if finished and review_step %}
        <a class="button" href="/data-import/review/{{ review_step }}/{{ id }}" style="padding: 10px">Resume import</a>
      {% elif finished == False %}
        <p>
          <em>Upload processing. Please return to this page later.</em>
        </p>
        <p>
          <strong>Task:</strong> {{ task.name }}<br />
          <strong>Runtime:</strong> {{ task.runtime }}
        </p>
      {% elif finished %}
        <em>Upload complete!</em>
      {% endif %}
    </fieldset>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}