html {
  scroll-padding-top: 70px; /* keeps sticky header from hiding content */
}

ul.ui-autocomplete > li {
  font-family: "acumin-pro", Helvetica, Arial, sans-serif;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

ol.breadcrumb {
  background-color:unset;
}

.invalid-feedback {
  display: unset;
}

div.row.intro {
  padding-left: 10px;
  padding-right: 30px;
}

div#department-expenditure-chart.col-lg-6 {
  text-align: right;
  background-color: grey;
  height: 225px;
  width: 470px;
  padding-right: 30px;
}

div[id*="chart"] {
  width: 100%;
  height: 100%;
}

.breadcrumb, .lead, .navbar-brand, #story-feed.card {
  font-family: "halyard-text", "Arial Narrow", Helvetica, sans-serif;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand #navbar-series {
  line-height: 80%;
}

.navbar-brand #navbar-title {
  font-size: 1.75rem;
  vertical-align: 15%;
  text-transform: none;
}

.header__logo-image {
  height: 6rem;
  -webkit-filter: none; /* unapplied in base styles */
  vertical-align: unset;
  padding-top: 5px; /* offset top padding for proper alignment */
}

.badge, small, div#intro-text, .btn, .list-group, .page-link, .header-bottom p {
  font-family: "halyard-text", Helvetica, Arial, sans-serif;
}

div#intro-text {
  font-size: 1.2em;
  letter-spacing: -0.01em;
}

.header__site-slogan {
  color: #fff;
}

.btn-primary:hover, .btn-download:hover {
  color: #fff200;
  background-color: #003a63;
  border-color: #003a63;
}

.btn-link:hover, .btn-link:focus {
  background-color: unset;
  color: #003a63;
  text-decoration: none;
}

.btn-download {
  color: #fff;
  background-color: #003a63;
  border-color: #003a63;
}

@media only screen and (max-width: 900px) {
  .btn-download {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
}


.search-results > .table {
  margin: -1px;
  font-size: unset;
}

li.list-group-item {
  margin: unset;
  margin-top: -1px;
}

.search-result {
  font-weight: 700;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body.viewport-lg {
  position: absolute;
}

.vertical-divider {
  background-color: #fff;
  width: 2px;
  overflow: hidden;
  height: 2rem;
}

.datamade-logo {
  -webkit-filter: grayscale(100%) brightness(175%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(175%);
  height: 20px;
}

.bga-blue-filter {
  /* Hacky filter from https://codepen.io/sosuke/pen/Pjoqqp */
  -webkit-filter: brightness(0) saturate(100%) invert(14%) sepia(84%) saturate(1900%) hue-rotate(185deg) brightness(92%) contrast(102%);
  filter: brightness(0) saturate(100%) invert(14%) sepia(84%) saturate(1900%) hue-rotate(185deg) brightness(92%) contrast(102%);
}

footer, footer a, footer h4, .header-bottom p {
  color: #fff!important;
}

.text-smaller {
  font-size: 85%;
}

@media screen and (max-width: 576px) {
  .card {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }

  .header__logo-image {
    height: 25px;
  }

  .vertical-divider {
    height: unset;
  }

  .navbar-brand #navbar-title {
    font-size: 1.3rem;
    vertical-align: 10%;
    text-transform: none;
  }

  .navbar-toggler {
    font-size: .75rem;
  }
}

.va-container > * {
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }

  p.lead {
    font-size: 1.3rem;
  }
}

.breadcrumb-item {
  margin: .25rem 0;
  line-height: 1.1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-brand {
  margin-right: unset;
}

h5 {
  letter-spacing: unset;
}

/* .spinner-border from Bootstrap 4.4 */
@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

.text-serif {
  font-family: "ibm-plex-serif", "Times New Roman", "DejaVu Serif", serif;
}

#story-feed-stories h5 {
  text-transform: unset;
}

#story-feed-stories h5 > a {
  color: unset;
}

@supports (position: sticky) {
  .sticky-top-button {
    position: sticky;
    top: 55px;
    z-index: 1020; 
  } 
}

header {
  height: 309px;
  background: url("../img/bga-header.jpeg");
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
}

header hr {
  color: white;
  border-top: 1px solid rgb(255 255 255 / 50%);
  margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.header-bottom {
  width: fit-content;
  margin: auto;
}

.support-btn, .search-btn {
  display: inline-block;
  height: 56px;
  text-align: center;
  line-height: 56px;
}

.fill-btn {
  background-color: #FAC346;
  font-family: "halyard-display", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
}

.transparent-btn { /* not used as of yet, intended for buttons on light bg's */
  border: 2px solid #FAC346;
  font-family: "halyard-display", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
}

#donate-header {
  width: 141px;
}

.search-btn {
  background-color: #003282;
  color: white;
  width: 56px;
  margin-right: 10px;
}

.header-bottom h1 {
  font-family: "ivypresto-display", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
}

.navbar {
  font-family: "halyard-text", Helvetica, Arial, sans-serif;
}

.alert-primary a {
  background-color: #FAC346;
  font-family: "halyard-display", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
  border: none;
  border-radius: 0;
}

footer {
  background-color: #003282 !important;
  font-family: "halyard-text", Helvetica, Arial, sans-serif;;
}

.footer-top + hr {
  margin-left: -50px;
  margin-right:  -50px;
  margin-top: 25px;
}

.footer-middle, .footer-middle ul, .footer-bottom {
  display: flex;
  flex-direction: row;
}

.footer-middle {
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo-image {
  height: 4.5rem;
  vertical-align: unset;
}

.footer-middle li {
  padding-right:  10px;
  margin: 0;
}

footer hr {
  margin: 0;
  border-top: 1px solid rgb(0 0 0 / 15%);
}

.footer-bottom {
  justify-content: space-between;
  font-size: 12px;
}

.footer-bottom div > * {
  padding-right: 10px;
}
.footer-paragraph {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

footer .support-btn {
  line-height: 50px;
  width: 200px;
}
footer .transparent-btn {
  border-color: rgb(255 255 255 / 80%);
  margin-right: 10px;
}

footer .fill-btn {
  border: 2px solid transparent; /* keeps the two buttons at the same height */
  color: black !important;
}

#entity-lookup {
  font-family: FontAwesome, "halyard-text", "Arial Narrow", sans-serif;
}

#year-toggle {
  display: flex;
}
