<div class="offset-md-1 col-md-5 col-6">
  <div class="card-body text-center">
    <h3 class="entity-data-year">&nbsp;</h3>
    <small class="text-muted">Data year</small>
  </div>
</div>
<div class="col-md-5 col-6">
  <div class="card-body text-center">
    <h3 class="entity-headcount">&nbsp;</h3>
    <small class="text-muted">Employees</small>
  </div>
</div>
<div class="offset-md-1 col-md-5 col-6">
  <div class="card-body text-center">
    <h3><span id="entity-total-expenditure">&nbsp;</span></h3>
    <small class="text-muted">Total expenditure</small>
  </div>
</div>
<div class="col-md-5 col-6">
  <div class="card-body text-center">
    <h3 class="entity-median-tp">&nbsp;</h3>
    <small class="text-muted">Median Total Pay</small>
  </div>
</div>
