<div class="col-md-2-half col-6 border">
  <div class="card-body px-0 text-center">
    <small class="letter-spacing-sm text-uppercase bold">Data year</small>
    <h3 class="entity-data-year">&nbsp;</h3>
  </div>
</div>
<div class="col-md-2-half col-6 border">
  <div class="card-body px-0 text-center">
    <small class="letter-spacing-sm text-uppercase bold">Employees</small>
    <h3 class="entity-headcount">&nbsp;</h3>
  </div>
</div>
<div class="col-md-2-half col-6 border">
  <div class="card-body px-0 text-center">
    <small class="letter-spacing-sm text-uppercase bold">Total expenditure</small>
    <h3><span id="entity-total-expenditure">&nbsp;</span></h3>
  </div>
</div>
<div class="col-md-2-half col-6 border">
  <div class="card-body px-0 text-center">
    <small class="letter-spacing-sm text-uppercase bold">Median Total Pay</small>
    <h3 class="entity-median-tp">&nbsp;</h3>
  </div>
</div>
