<li class="breadcrumb-item">
  <a href='/'>Home</a>
</li>

{% if entity %}

  {% if entity.parent %}
    <li class="breadcrumb-item">
      <a href="/{{ entity.parent.endpoint }}/{{ entity.parent.slug }}">{{ entity.parent.name }}</a>
    </li>
  {% endif %}

  <li class="breadcrumb-item active" aria-current="page">
    {% if '/person/' in request.path %} {# Link if shown on person page #}
      <a href="/{{ entity.endpoint }}/{{ entity.slug }}">{{ entity.name }}</a>
    {% else %}
      {{ entity }}
    {% endif %}
  </li>

{% else %}

<li class="breadcrumb-item">Search</li>

{% endif %}
