<div class="card-body">
  <h3 class="card-title mb-4">
    <i class="far fa-building"></i> Departments
    <small><a href="/search/?entity_type=department&parent={{ entity.slug }}">View all ({{ entity.departments.count() }})</a></small>
  </h3>

  <h4 class="card-subtitle">Top-spending departments in {{ entity }}</h4>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Department</th>
          <th scope="col" class="text-right" style="width:16.66%">Number of employees</th>
          <th scope="col" class="text-right" style="width:16.66%">Median total pay</th>
          <th scope="col" class="text-right" style="width:16.66%">Total base pay</th>
          <th scope="col" class="text-right" style="width:16.66%">Total extra pay</th>
          <th scope="col" class="text-right" style="width:16.66%">Total expenditure</th>
        </tr>
      </thead>
      <tbody id="department-salaries">
      </tbody>
    </table>
  </div>

  {% include 'partials/source_link.html' %}
</div>
