<div class="row">
  <div class="col">
      <div class="bg-primary p-3 text-center text-light mb-3">
        <p class="lead">Please consider making a donation.</p>
        <p>
          This database is resource intensive, both in money and time. We request, compile, organize and check data we receive from hundreds of taxing bodies across Illinois and put it into an easy-to-use site for you.
        </p>
        <p>
          <a class="btn btn-success" href="https://donate.bettergov.org/?utm_source=database&utm_medium=other" target="_blank">Donate</a>
        </p>
      </div>
  </div>
</div>
