<div class="row">
  <div class="col">
      <div class="bg-primary pt-5 pb-5 pl-4 pr-4 text-light mb-3 flex-column">
        <p class="lead font-weight-bold">Please consider making a donation.</p>
        <p class="donate-aside-text body-sans-serif">
          This database is resource intensive, both in money and time. We request, compile, organize and check data we receive from hundreds of taxing bodies across Illinois and put it into an easy-to-use site for you.
        </p>
        <p class="center">
          <a class="btn transparent-btn text-uppercase w-100 tall-btn text-light mt-3" href="https://donate.bettergov.org/?utm_source=database&utm_medium=other" target="_blank">Donate</a>
        </p>
      </div>
  </div>
</div>
