<div class="card-body">
  <h3 class="card-title mb-4">
    <i class="fas fa-users"></i> Employees
    <small><a id="employee-search-link" href="/search/?entity_type=person&employer={{ entity.slug }}&year={{ request.GET.get('data_year', data_years.0) }}">View all (<span class="entity-headcount"></span>)</a></small>
    <small><a id="employee-download-link" href="/download/?employer={{ entity.slug }}&year={{ request.GET.get('data_year', data_years.0) }}">Download Data</a></small>
  </h3>

  <h4 class="card-subtitle">Top earners in {{ entity }}</h4>
  {% include 'partials/person_table.html' %}
</div>
