<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <img class="inspiration-icon" src="{{ static('img/answers-db-icons-department-button.svg') }}">
    <div class="card-body text-center d-flex flex-column pt-0">
      <h5 class="text-black">Highest Paid People in Illinois</h5><br />
      <a href="/search/?entity_type=person&salary_above=150000" class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>
<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <img class="inspiration-icon" src="{{ static('img/answers-db-icon-people-button.svg') }}">
    <div class="card-body text-center d-flex flex-column pt-0">
      <h5 class="text-center text-black">Highest Spending Departments in Chicago</h5><br />
      <a href="/search/?entity_type=department&parent={{ chicago_slug }}" class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>
<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <img class="inspiration-icon" src="{{ static('img/answers-db-icons-police-button.svg') }}">
    <div class="card-body text-center d-flex flex-column pt-0">
      <h5 class="text-black">Highest Spending Police Departments</h5><br />
      <a href='/search/?entity_type=department&universe="Police+Department"' class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>