<div class="row mb-5 aside-content">
  <div class="text-smaller inspiration">
    <div class="px-3 py-3">
      <h3 class="text-black">What are you curious about?</h3>
    </div>
    <hr>
    <div class="row p-1">
      <div class="w-100">
        <div class="card inspiration-card h-100 px-4 py-1">
          <div class="card-body d-flex flex-column pt-0">
            <h5 class="text-black mx-auto">Highest Paid People in Illinois</h5>
            <a href="/search/?entity_type=person&salary_above=150000" class="btn transparent-btn mt-auto text-uppercase"><span class="explore-lg">Start Exploring</span><span class="explore-sm">Explore</span></a>
          </div>
        </div>
      </div>
      <div class="w-100">
        <div class="card inspiration-card h-100 px-4 py-1">
          <div class="card-body d-flex flex-column pt-0">
            <h5 class="text-black mx-auto">Highest Spending Departments in Chicago</h5>
            <a href="/search/?entity_type=department&parent={{ chicago_slug }}" class="btn transparent-btn mt-auto text-uppercase"><span class="explore-lg">Start Exploring</span><span class="explore-sm">Explore</span></a>
          </div>
        </div>
      </div>
      <div class="w-100">
        <div class="card inspiration-card h-100 px-4 py-1">
          <div class="card-body d-flex flex-column pt-0">
            <h5 class="text-black mx-auto">Highest Spending Police Departments</h5>
            <a href='/search/?entity_type=department&universe="Police+Department"' class="btn transparent-btn mt-auto text-uppercase"><span class="explore-lg">Start Exploring</span><span class="explore-sm">Explore</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
