<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <h4><i class="fas fa-dollar-sign"></i></h4>
    <div class="card-body text-center d-flex flex-column pt-0">
      <!-- <h4><i class="fas fa-dollar-sign"></i></h4> -->
      <h5>Highest Paid People in Illinois</h5><br />
      <a href="/search/?entity_type=person&salary_above=150000" class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>
<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <h4><i class="fas fa-users"></i></h4>
    <div class="card-body text-center d-flex flex-column pt-0">
      <!-- <h4><i class="fas fa-users"></i></h4> -->
      <h5 class="text-center">Highest Spending Departments in Chicago</h5><br />
      <a href="/search/?entity_type=department&parent={{ chicago_slug }}" class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>
<div>
  <div class="card inspiration-card h-100 px-3 py-1">
    <h4><i class="fas fa-star"></i></h4>
    <div class="card-body text-center d-flex flex-column pt-0">
      <!-- <h4><i class="fas fa-star"></i></h4> -->
      <h5>Highest Spending Police Departments</h5><br />
      <a href='/search/?entity_type=department&universe="Police+Department"' class="btn transparent-btn mt-auto text-uppercase">Start Exploring</a>
    </div>
  </div>
</div>