{% if results.previous or results.next %}
    <nav class="mt-4">
        <ul class="pagination justify-content-between border-top">
            <div class="d-flex text-uppercase bold">
               <li class="page-item pr-2 border-right{% if not results.previous %} disabled{% endif %}">
                   <a class="page-link {% if not results.previous %}text-light disabled{% else %}text-dark{% endif %}" {% if results.previous %}href="{{ results.previous }}"{% else %}tabindex="-1"{% endif %}>
                       Prev
                   </a>
               </li>

               <li class="page-item pl-2{% if not results.next %} text-light disabled{% endif %}">
                   <a class="page-link {% if not results.next %} disabled{% else %} text-dark{% endif %}" {% if results.next %}href="{{ results.next }}"{% else %},tabindex="-1"{% endif %}>
                       Next
                   </a>
               </li> 
            </div>
        </ul>
    </nav>
{% else %}
    <div class="mt-4"></div>
{% endif %}