<div class="card-body px-0">
  <hr class="section-divider">
  <h5 class="card-subtitle letter-spacing-sm text-black text-uppercase my-3">Payroll expenditure breakout</h5><br>
  <h4 class="card-subtitle mb-3"><small class="text-muted">Total pay, broken into base and extra categories for all employees, is displayed below in the pie chart.</small></h4>
  <div class="row">
    <div id="payroll-expenditure-chart" class="col-lg-6"></div>
    <div class="col-lg-6">
      <div class="text-center d-flex flex-column justify-content-around h-100">
        <div>
          <h4 class="entity-median-tp"></h4>
          <small class="text-muted">Median Total Pay</small><br />
        </div>
        <div>
          <h4 id="entity-median-bp"></h4>
          <small class="text-muted">Median Base Salary</small><br />
        </div>
        <div>
          <h4 id="entity-median-ep"></h4>
          <small class="text-muted">Median Extra Pay</small><br />
        </div>
        <small class="text-muted">Calculated based on agency reporting. Some agencies did not report extra pay.</small>
      </div>
    </div>
  </div>
</div>
