<div class="card-body">
  <h4 class="card-subtitle mt-3">Payroll expenditure breakout</h4>
  <h4 class="card-subtitle mb-3"><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</small></h4>
  <div class="row">
    <div id="payroll-expenditure-chart" class="col-lg-6"></div>
    <div class="col-lg-6">
      <div class="text-center d-flex flex-column justify-content-around h-100">
        <div>
          <h4>{{ median_tp|format_salary }}</h4>
          <small class="text-muted">Median Total Pay</small></br>
        </div>
        <div>
          <h4>{{ median_bp|format_salary }}</h4>
          <small class="text-muted">Median Base Salary</small></br>
        </div>
        <div>
          {% if median_ep %}
            <h4>{{ median_ep|format_salary }}</h4>
          {% else %}
            <h4>Not reported</h4>
          {% endif %}
          <small class="text-muted">Median Extra Pay</small></br>
        </div>
        <small class="text-muted">Calculated based on agency reporting. Some agencies did not report extra pay.</small>
      </div>
    </div>
  </div>
</div>
