<div class="card-body">
  <div class="row">
    <div class="col">
      <h3 class="card-title mb-4"><i class="fa fa-history fa-fw" aria-hidden="true"></i> Employment history for {{ entity }}</h3>
      <h4 class="card-subtitle">Positions held</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Position</th>
            <th scope="col" class="text-right">Base Salary</th>
            <th scope="col" class="text-right">Extra Pay</th>
            <th scope="col" class="text-right">Start Date</th>
            <th scope="col" class="text-right">Data year</th>
          </tr>
        </thead>
        <tbody id="entity-salaries">
        {% for salary in all_jobs %}
          <tr>
            <td>{{ salary.position }}</td>
            {% if not entity.is_department and department_salaries %}
            <td><a href="{{ url('department', kwargs={'slug': salary.employer_slug}) }}">{{ salary.employer }}</a></td>
            {% endif %}
            <td class="text-right">
              {% if salary.amount %}
                {{ salary.amount|format_salary }}
              {% else %}
                Not reported
              {% endif %}
            </td>
            <td class="text-right">
              {% if salary.extra_pay %}
                {{ salary.extra_pay|format_salary }}
              {% else %}
                Not reported
              {% endif %}
            </td>
            <td class="text-right">
              {% if salary.start_date %}
                {{ salary.start_date.strftime('%m-%d-%Y') }}
              {% else %}
                Not reported
              {% endif %}
            </td>
            <td class="text-right">{{ salary.data_year }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
      <p class="text-right">
        <small>
          <strong>Data year:</strong> {{ data_year }}
          {% if source_link %}
          (<a href="{{ source_link }}" rel="nofollow">Source</a>)
          {% else %}
          <em class="text-secondary">Source coming soon</em>
          {% endif %}
        </small>
      </p>
    </div>
  </div>

  {% if all_jobs|length > 1 %}
  <h4 class="card-subtitle">Comparing total pay per year</h4>

  <div class="row">

    <div id="salary-over-time-chart" class="col-lg-6"></div>

    <div class="col-lg-6">
      <div class="text-center d-flex flex-column justify-content-around h-100">
        <div>
          <h4 class="d-inline">{{ change_in_salary.total_pay_delta|format_salary }}</h4>
          <sup class="d-inline text-{% if change_in_salary.total_pay_delta >= 0 %}success{% else%}danger{% endif %} px-1 mb-0">
            {% if change_in_salary.total_pay_delta >= 0 %}+{% endif %}
            {{ change_in_salary.total_pay_percent_change|format_percentile }}
          </sup><br />
          <small class="text-muted">Net Change in Total Pay</small>
        </div>

        <div>
          {% if 'amount_delta' in change_in_salary %}
            <h4 class="d-inline">{{ change_in_salary.amount_delta|format_salary }}</h4>
            {% if change_in_salary.amount_percent_change %}
            <sup class="d-inline text-{% if change_in_salary.amount_delta >= 0 %}success{% else%}danger{% endif %} px-1 m-0">
              {% if change_in_salary.amount_delta >= 0 %}+{% endif %}
              {{ change_in_salary.amount_percent_change|format_percentile }}
            </sup>
            {% endif %}<br />
            <small class="text-muted">Net Change in Base Salary</small>
          {% else %}
            <h4>Not reported</h4>
            <small class="text-muted">Net Change in Base Salary</small>
          {% endif %}
        </div>

        <div>
          {% if 'extra_pay_delta' in change_in_salary %}
            <h4 class="d-inline">{{ change_in_salary.extra_pay_delta|format_salary }}</h4>
            {% if change_in_salary.extra_pay_percent_change %}
            <sup class="d-inline text-{% if change_in_salary.extra_pay_delta >= 0 %}success{% else%}danger{% endif %} px-1 m-0">
              {% if change_in_salary.extra_pay_delta >= 0 %}+{% endif %}
              {{ change_in_salary.extra_pay_percent_change|format_percentile }}
            </sup>
            {% endif %}<br />
            <small class="text-muted">Net Change in Extra Pay</small>
          {% else %}
            <h4>Not reported</h4>
            <small class="text-muted">Net Change in Extra Pay</small>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
  {% endif %}
</div>
