<div class="table-responsive">
  <table class="table table-striped">
    <thead class="bg-dark text-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      {% if not entity.is_department %}
      <th scope="col">Department</th>
      {% endif %}
      <th scope="col" class="text-right">Base Salary</th>
      <th scope="col" class="text-right">Extra Pay</th>
      {% if show_start_date %}
      <th scope="col" class="text-right">Start Date</th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="entity-salaries">
  {% for salary in salaries %}
    <tr>
      <td><a href="{{ url('person', kwargs={'slug': salary.job.person.slug}) }}">{{ salary.job.person }}</a></td>
      <td>{{ salary.job.position.title }}</td>
      {% if not entity.is_department and department_salaries %}
      <td><a href="{{ url('department', kwargs={'slug': salary.job.position.employer.slug}) }}">{{ salary.job.position.employer }}</a></td>
      {% endif %}
      <td class="text-right">
        {% if salary.amount %}
          {{ salary.amount|format_salary }}
        {% else %}
          Not reported
        {% endif %}
        {% if current_salary %}
          {% if current_salary < salary.amount %}
            <span class="text-success"><i class="fas fa-arrow-up"></i></span>
          {% elif current_salary > salary.amount %}
            <span class="text-danger"><i class="fas fa-arrow-down"></i></span>
          {% else %}
            <i class="fas invisible"></i>
          {% endif %}
        {% endif %}
      </td>
      <td class="text-right">
        {% if salary.extra_pay %}
          {{ salary.extra_pay|format_salary }}
        {% else %}
          Not reported
        {% endif %}
      </td>
      {% if show_start_date %}
      <td class="text-right">
        {% if salary.job.start_date %}
          {{ salary.job.start_date.strftime('%m-%d-%Y') }}
        {% else %}
          N/A
        {% endif %}
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% include 'partials/source_link.html' %}
