<div class="table-responsive text-center roboto">
  <table class="table table-striped">
    <thead class="bg-blue text-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      {% if not entity.is_department %}
      <th scope="col">Department</th>
      {% endif %}
      <th scope="col" class="text-right">Base Salary</th>
      <th scope="col" class="text-right">Extra Pay</th>
      {% if show_start_date %}
      <th scope="col" class="text-right">Start Date</th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="entity-salaries">
  </tbody>
  </table>
</div>
{% include 'partials/source_link.html' %}
