<div class="row">
  <div class="col">
    <div id="story-feed" class="card bg-light border-0 rounded-0">
      <div class="card-header text-right bg-primary rounded-0">
        <h5 class="text-light text-uppercase m-0">From the newsroom</h5>
      </div>

      <div class="row p-3">
        <div class="col-7">
          <h5 style="text-transform: unset;">Lorem ipsum officia eiusmod</h5>
          <p>August 19, 2020</p>
        </div>
        <div class="col-5">
          <img src="https://via.placeholder.com/100" class="w-100" />
        </div>
      </div>

      <hr class="w-75 mx-auto" />

      <div class="row p-3">
        <div class="col-7">
          <h5 style="text-transform: unset;">Ut ullamco laboris</h5>
          <p>August 18, 2020</p>
        </div>
        <div class="col-5">
          <img src="https://via.placeholder.com/100" class="w-100" />
        </div>
      </div>

      <hr class="w-75 mx-auto" />

      <div class="row p-3">
        <div class="col-7">
          <h5 style="text-transform: unset;">Proident sint est</h5>
          <p>August 18, 2020</p>
        </div>
        <div class="col-5">
          <img src="https://via.placeholder.com/100" class="w-100" />
        </div>
      </div>

      <hr class="w-75 mx-auto" />

      <div class="row p-3">
        <div class="col-7">
          <h5 style="text-transform: unset;">Lorem ipsum aliqua quis sunt velit id</h5>
          <p>August 17, 2020</p>
        </div>
        <div class="col-5">
          <img src="https://via.placeholder.com/100" class="w-100" />
        </div>
      </div>
    </div>
  </div>
</div>
