<div id="year-toggle" align="center">
  <label for="data-year-select" class="my-auto pr-3">
    <small class="text-uppercase font-weight-bold font-size-m letter-spacing-sm">
      Select data year
    </small>
  </label>
  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle year-dropdown-button" type="button" id="yearDropdownMenuButton" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
      <span id="selected-year" class="d-none">{{ request.GET.get('data_year', data_years.0) }}</span>
      <span class="year-loading spinner-border" role="status"></span>
      <span class="year-loading sr-only">Loading...</span>
    </button>
    <div id="data-year-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for year in data_years %}
        <span class="dropdown-item year-dropdown-item">{{ year }}</span>
      {% endfor %}
    </div>
  </div>
</div>
