<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Better Government Association</title>

    <meta content="Follow the money paid to public-sector employees throughout Illinois." name="description" />
    <meta content="Better Government Association" name="author" />

    <link rel="icon" type="image/png" href="{{ static('img/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon-16x16.png') }}" sizes="16x16" />

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bga-styles.css') }}" rel="stylesheet">
    <link href="{{ static('css/bootstrap-overrides.css') }}" rel="stylesheet">
    <link href="{{ static('css/custom.css') }}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark pl-4 pt-1 pb-1">
      <a href="/" title="Home" rel="home" class="header__logo">
        <img src="{{ static('img/bga_logo.png') }}" alt="Home" class="header__logo-image">
      </a>
      <div class="header__name-and-slogan">
        <h1 class="header__site-name">
          <a href="/" title="Home" class="header__site-link" rel="home"><strong>Better Government Association</strong></a>
        </h1>
        <div class="header__site-slogan">Illinois’ Non-Partisan Full-Service Watchdog</div>
      </div>
    </nav>

    <div class="container" id="main-content"><br />
      {% block content %}{% endblock %}
    </div> <!-- /container -->
    {% block modals %}{% endblock %}
    <script src="{{ static('js/lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static('js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/lib/fontawesome-all.min.js') }}"></script>
    <script src="{{ static('js/lib/highcharts.src.js') }}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
