{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% include 'partials/breadcrumbs.html' %}
  </ol>
</nav>

<div class="col-md-12">
  <h2 class="mb-3"><i class="far fa-building"></i> {{ entity }}</h2>

  {% if entity.universe %}
  <div class="badge badge-primary">
    {{ entity.universe }}
  </div>
  {% endif %}

  <div class="badge badge-secondary">
    {{ entity.parent.taxonomy }}
  </div>

  <div class="row mb-4">
    {% with context = aggregate_stats %}
      {% include 'partials/baseball_stats.html' %}
    {% endwith %}
  </div>

  <div class="row intro">
    <div id="intro-text" class="col-lg-6">
      <p>This department makes up <strong>{{ percent_of_total_expenditure|format_percentile }}</strong> of the total payroll expenditure of <strong>{{ entity.parent }}</strong>.</p>
      
      <p>This department's total expenditure is higher than <strong>{{ expenditure_percentile|format_percentile }}</strong> of other <strong>{{ entity.parent.taxonomy }} {{ entity.universe }}s</strong>.</p>

      <p>This department's median salary is higher than <strong>{{ salary_percentile|format_percentile }}</strong> of other <strong>{{ entity.parent.taxonomy }} {{ entity.universe }}s</strong>.</p>
    </div>
    <div id="employee-distribution-chart"></div>
  </div>

  <div class="card mb-4">
    {% include 'partials/employee_card.html' %}
  </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart({{ employee_salary_json|safe }}, 'employee');
</script>
{% endblock %}
