{% extends "base.html" %}

{% block title %}{{ entity.name|title }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' %}
<div class="col-md-12">
  <h2>{{ entity.name|title }}</h2>

  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-list-ul"></i> Summary
    </div>
    <div class="card-body">
      <ul>
        <li><strong>{{ salaries|length }}</strong> employees</li>
        <li><strong>{{ "${:,.2f}".format(average_salary) }}</strong> average salary</li>
        <li><strong>{{ "${:,.2f}".format(salaries|sum(attribute='amount')) }}</strong> total expenditure</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div id="distribution-chart"></div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-users"></i> Highest paid employees
    </div>
    <div class="card-body bg-gray">
      {% include 'partials/person_table.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart(
    '{{ entity.name|title }}', {{ salary_json|safe }}, 'employee'
  );
</script>
{% endblock %}