{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% include 'partials/breadcrumbs.html' %}
  </ol>
</nav>

<div class="col-md-12">
  <h2 class="md-3"><i class="far fa-building"></i> {{ entity }}</h2>

  {%
    set aggregate_stats = namespace(
      headcount = salaries|length,
      mean_salary = average_salary,
      total_expenditure = salaries|sum(attribute='amount'),
    )
  %}
  <div class="row mb-4">
    {% with context = aggregate_stats %}
      {% include 'partials/baseball_stats.html' %}
    {% endwith %}
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title mb-4">
        <i class="fas fa-users"></i> Employees
        <small><a href="#">View all</a></small>
      </h3>

      <h4 class="card-subtitle mb-3">Top earners in {{ entity }}</h4>
      {% with unit = false %}
        {% include 'partials/person_table.html' %}
      {% endwith %}

      <h4 class="card-subtitle mt-5 mb-4">{{ entity }} employee salary distribution</h4>
      <div id="distribution-chart"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart({{ salary_json|safe }}, 'employee');
</script>
{% endblock %}