{% extends "base.html" %}

{% block title %}{{ entity.name|title }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' %}
<div class="col-md-12">
  <h2>{{ entity.name|title }}</h2>

  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-list-ul"></i> Summary
    </div>
    <div class="card-body">
      <ul>
        <li><strong>{{ department_salaries|sum(attribute='headcount')|format_number }}</strong> employees</li>
        <li><strong>${{ average_salary|format_number }}</strong> average salary</li>
        <li><strong>${{ department_salaries|sum(attribute='total_budget')|format_number }}</strong> total expenditure</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div id="distribution-chart"></div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-users"></i> Highest paid employees
    </div>
    <div class="card-body bg-gray">
      {% include 'partials/person_table.html' %}
    </div>
  </div>
  <br />
  {% with departments = entity.departments.all() %}
    <div class="card">
      <div class="card-header bg-warning">
        <i class="fas fa-briefcase"></i> Departments
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead class="bg-secondary">
          <tr>
            <th scope="col">Department</th>
            <th scope="col">Number of Employees</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
        {% for department in department_salaries %}
          <tr>
            <td>{{ department['department'] }}</td>
            <td>{{ department['headcount'] }}</td>
            <td>{{ "${:,.2f}".format(department['total_budget']) }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  {% endwith %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart(
    '{{ entity.name|title }}', {{ salary_json|safe }}, 'department'
  );
</script>
{% endblock %}
