{% extends "base.html" %}

{% block title %}{{ unit.name|title }}{% endblock %}

{% block content %}
<div class="col-md-12">
  <h2>{{ unit.name|title }}</h2>

  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-list-ul"></i> Summary
    </div>
    <div class="card-body">
      <ul>
        <li><strong>{{ salaries|length }}</strong> employees</li>
        <li><strong>{{ "${:,.2f}".format(average_salary) }}</strong> average salary</li>
        <li><strong>{{ "${:,.2f}".format(salaries|sum(attribute='amount')) }}</strong> total expenditure</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div id="distribution-chart"></div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header bg-warning">
      <i class="fas fa-users"></i> Highest paid employees
    </div>
    <div class="card-body bg-gray">
      <table class="table table-striped table-hover">
        <thead class="bg-secondary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col">Start date</th>
          <th scope="col">Salary</th>
        </tr>
      </thead>
      <tbody>
      {% for salary in salaries[:5] %}
        <tr>
          <td>{{ salary.person|title }}</td>
          <td>{{ salary.position.title|title }}</td>
          <td>{{ salary.position.employer|title }}</td>
          <td>{{ salary.start_date or '' }}</td>
          <td>{{ "${:,.2f}".format(salary.amount) }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
      <button class="btn btn-lg btn-dark float-right">
        <i class="fas fa-search"></i> See more employees
      </button>
    </div>
  </div>
  <br />
  {% with departments = unit.departments.all() %}
    {% if departments %}
    <div class="card">
      <div class="card-header bg-warning">
        <i class="fas fa-briefcase"></i> Departments
      </div>
      <div class="card-body">
        {% for department in departments %}
          {{ department }}<br />
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}
</div>

{% endblock %}

{% block extra_js %}

<script src="{{ static('js/salary_distribution_chart.js') }}"></script>

<script type="text/javascript">
  {% if unit.departments.all() %}
    var distribution_type = 'department';
  {% else %}
    var distribution_type = 'employee';
  {% endif %}

  make_distribution_chart('{{ unit.name|title }}', {{ salary_json|safe }}, distribution_type);
</script>

{% endblock %}