{% extends "base.html" %}

{% block title %}Illinois Salary Database{% endblock %}

{% block extra_css %}
<link href="{{ static('css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <div class="jumbotron bg-light">
        <div class="row mb-3">
          <div class="col-md">
              <h1>Illinois Salary Database</h1>

              <p class="lead">Every year, the Better Government Association compiles Illinois’ most comprehensive database to <strong>review, explore and compare compensation for public employees throughout Illinois</strong>. We do this because the BGA believes detailing how tax dollars are spent serves the public interest.</p>
          </div>
        </div>

        <form id="entity-form">
          <div class="row">
            <div class="col-md mb-3">
              <strong class="mr-3">I'm looking for a:</strong>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="unit-check" value="unit" checked>
                <label class="form-check-label" for="unit-check"><i class="fas fa-building"></i> Unit</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="department-check" value="department">
                <label class="form-check-label" for="department-check"><i class="far fa-building"></i> Department</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="person-check" value="person" checked>
                <label class="form-check-label" for="person-check"><i class="far fa-address-card"></i> Person</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="input-group">
                <input type="text" id="entity-lookup" class="form-control form-control-lg" placeholder="Cook County" />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-lg" id="submit-button">
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md collapse mt-3" id="name-warning">
                <div class="alert alert-danger" role="alert">
                  <i class="fas fa-exclamation-circle"></i> Please enter the name of a <strong>Unit, Department, or Person</strong> you'd like to look up.
                </div>
            </div>
          </div>
        </form>
      </div><!-- .jumbotron -->
    </div>

    <div class="row mt-4">
      <div class="col-md">
        <h3>What's inside?</h3>

        <p>The <strong>Illinois Salary Database</strong> contains the base and additional pay (such as overtime) for <strong>{{ salary_count|format_exact_number }}</strong> state, municipal, school and many other government employees across Illinois. It covers <strong>{{ unit_count|format_exact_number }}</strong> units of government. We’ve recently updated the database so users find it easier to navigate. <a href="{{ url('user_guide') }}">You can learn how to use this new database here</a>.</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md">
        <h5>Distribution of public salaries in 2017</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div id="employee-distribution-chart"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8 offset-md-2 alert alert-primary">
        <p>Each year, the BGA gathers new data from hundreds of taxing bodies. It takes us nearly a year to request, compile, organize and vet the data we receive. Like what you see? <strong>Please consider making a donation to help us continue this work.</strong></p>

        <div class="text-center">
          <a class="btn btn-lg btn-success" href="https://bettergov.salsalabs.org/donationform/index.html">
            <i class="fas fa-handshake"></i> Donate to the BGA
          </a>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md">
        <h3>What are you curious about?</h3>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h4><i class="fas fa-dollar-sign"></i></h4>
            <h5>Highest paid people in Illinois</h5><br />
            <a href="/search/?entity_type=person&employer={{ illinois_slug }}&salary_above=150000" class="btn btn-primary"><i class="fas fa-search"></i> Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h4><i class="fas fa-users"></i></h4>
            <h5 class="text-center">Highest spending departments in Chicago</h5><br />
            <a href="/search/?entity_type=department&parent={{ chicago_slug }}" class="btn btn-primary"><i class="fas fa-search"></i> Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h4><i class="fas fa-gavel"></i></h4>
            <h5>Highest spending police departments</h5><br />
            <a href='/search/?entity_type=department&universe="Police+Department"' class="btn btn-primary"><i class="fas fa-search"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row mt-5">
      <div class="col-md">
        <h3>Need help or see any problems or errors?</h3>
        <p>While we make every reasonable effort to vet the accuracy of compensation included in the database, it is impossible to double-check all numbers in an undertaking of this magnitude. The basic building blocks of this database are reports provided by public agencies and it is possible errors in those initial reports will be reflected in the numbers we record. That is why we need help from the public to point out problems.</p>

        <p>If you spot something that isn’t right, or if information is missing for a government unit you care about, <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">please contact our data coordinator</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="emailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="fbf1d375-61ec-433d-943f-8d4e6e3ae35a"><script type="text/javascript" src="https://default.salsalabs.org/api/widget/template/82a20ce0-6591-4a90-a77d-d73599ec9b43/?tId=fbf1d375-61ec-433d-943f-8d4e6e3ae35a" ></script></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('js/lib/jquery-ui.min.js') }}"></script>
<script src="{{ static('js/search.js') }}"></script>
<script type="text/javascript" src="{{ static('js/entity_auto_complete.js') }}"></script>
<script src="{{ static('js/chart_helper.js') }}"></script>
<script src="{{ static('js/email_collection.js') }}"></script>

<script type="text/javascript">
  // Style the charts a little differently on the homepage.
  Highcharts.setOptions({
    chart: {
      backgroundColor: '#f7f7f7',
    },
    plotOptions: {
      series: {
        borderColor: '#f7f7f7',
      }
    }
  });

  ChartHelper.make_salary_chart({{ salary_json|safe }}, 'employee');

  initSearch({{ request.GET.dict()|safe }});
</script>
{% endblock %}