{% extends "base.html" %}

{% block title %}Illinois Public Salaries Database{% endblock %}

{% block extra_css %}
<link href="{{ static('css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-10 offset-md-1">
    {% if 'welcome' in request.GET %}
    <div class="row mb-3">
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-info-circle fa-fw"></i> <strong>Looking for the Better Government Association’s Payroll Database?</strong> We’ve updated and made it better. The old one isn’t currently available, but in the meantime check out our new work.
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="jumbotron bg-light">
        <div class="row mb-lg-5">
          <div class="col-md-3 align-self-center d-none d-lg-block">
            <img src="{{ static('img/capitol-dome.png') }}" class="pr-2 img-fluid bga-blue-filter" />
          </div>
          <div class="col-md align-self-center">
              <h1>Search Illinois public employee salary data</h1>

              <p class="lead">Every year, the Better Government Association compiles <strong class="bg-warning">Illinois’ most comprehensive database</strong> to review, explore and compare compensation for public employees throughout Illinois. We do this because the BGA believes detailing how tax dollars are spent serves the public interest.</p>
          </div>
        </div>

        <form id="entity-form">
          <div class="row">
            <div class="col-md mb-3">
              <strong class="mr-3">I'm looking for a:</strong>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="unit-check" value="unit" checked>
                <label class="form-check-label" for="unit-check"><i class="fas fa-building"></i> Unit</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="department-check" value="department" checked>
                <label class="form-check-label" for="department-check"><i class="far fa-building"></i> Department</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input entity-type-check" type="checkbox" id="person-check" value="person" checked>
                <label class="form-check-label" for="person-check"><i class="far fa-address-card"></i> Person</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="input-group">
                <input type="text" id="entity-lookup" class="form-control form-control-lg" autofocus />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-lg" id="submit-button">
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md mt-3 text-smaller">
              <strong class="pr-2">For example,</strong>
              <a href="/search/?name=Cook County&entity_types=unit" class="pr-2"><i class="fa-fw fas fa-building"></i> Cook County</a>
              <a href="/search/?name=Chicago Police Department&entity_types=department" class="pr-2"><i class="fa-fw far fa-building"></i> Chicago Police Department</a>
              <a href="/search/?name=Rahm Emanuel&entity_types=person" class="pr-2"><i class="fa-fw far fa-address-card"></i> Rahm Emanuel</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md collapse mt-3" id="name-warning">
                <div class="alert alert-danger" role="alert">
                  <i class="fas fa-exclamation-circle"></i> Please enter the name of a <strong>Unit, Department, or Person</strong> you'd like to look up.
                </div>
            </div>
          </div>
        </form>
      </div><!-- .jumbotron -->
    </div>

    <div class="row mt-4">
      <div class="col-md">
        <h3>What's inside?</h3>

        <p>The <strong>Illinois Public Salaries Database</strong> contains the base and additional pay (such as overtime) for <strong>{{ salary_count|format_exact_number }}</strong> state, municipal, school and many other government employees across Illinois. It covers <strong>{{ unit_count|format_exact_number }}</strong> units of government. We’ve recently updated the database so users find it easier to navigate. <a href="{{ url('user_guide') }}">You can learn how to use this new database here</a>.</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md">
        <h5>Distribution of public salaries in 2017</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div id="employee-distribution-chart"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8 offset-md-2 alert alert-primary">
        <p>It takes the BGA nearly a year to request, compile, organize and check data we receive from hundreds of taxing bodies across Illinois. Like what you see? <strong>Please consider making a donation to help us continue this work.</strong></p>

        <div class="text-center">
          <a class="btn btn-lg btn-success" href="https://bettergov.salsalabs.org/donationform/index.html">
            <i class="fas fa-handshake"></i> Donate to the BGA
          </a>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md">
        <h3>What are you curious about?</h3>
      </div>
    </div>

    <div class="row mt-2">
      {% include 'partials/inspiration.html' %}
    </div>

    <div class="mt-4"></div>
  </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="emailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="fbf1d375-61ec-433d-943f-8d4e6e3ae35a"><script type="text/javascript" src="https://default.salsalabs.org/api/widget/template/82a20ce0-6591-4a90-a77d-d73599ec9b43/?tId=fbf1d375-61ec-433d-943f-8d4e6e3ae35a" ></script></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('js/lib/jquery-ui.min.js') }}"></script>
<script src="{{ static('js/search.js') }}"></script>
<script type="text/javascript" src="{{ static('js/entity_auto_complete.js') }}"></script>
<script src="{{ static('js/chart_helper.js') }}"></script>
<script src="{{ static('js/email_collection.js') }}"></script>

<script type="text/javascript">
  // Style the charts a little differently on the homepage.
  Highcharts.setOptions({
    chart: {
      backgroundColor: '#f7f7f7',
    },
    plotOptions: {
      series: {
        borderColor: '#f7f7f7',
      }
    }
  });

  ChartHelper.make_salary_chart({{ salary_json|safe }}, 'employee');

  initSearch({{ request.GET.dict()|safe }});
</script>
{% endblock %}