{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% include 'partials/breadcrumbs.html' %}
  </ol>
</nav>

<div class="col-md-12">
  <h2 class="mb-3"><i class="{% if entity.is_department %}far{% else %}fas{% endif %} fa-building"></i> {{ entity }}</h2>
  <div class="badge badge-primary">
    {% if entity.is_department %}
      {{ entity.parent.taxonomy }}
    {% else %}
      {{ entity.taxonomy }}
    {% endif %}
  </div>
  <div class="badge badge-secondary">
    {% if entity.is_department %}
      {{ entity.parent.size_class }}
    {% else %}
      {{ entity.size_class }}
    {% endif %}
  </div>

  <div class="row mb-4">
    {% with context = aggregate_stats %}
      {% include 'partials/baseball_stats.html' %}
    {% endwith %}
  </div>

  <div class="card mb-4">
    {% include 'partials/employee_card.html' %}
  </div>

  {% if not entity.is_department %}
    <div class="card mb-4">
      {% include 'partials/department_card.html' %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart({{ employee_salary_json|safe }}, 'employee');

  {% if not entity.is_department %}
  ChartHelper.make_salary_chart({{ department_salary_json|safe }}, 'department');
  {% endif %}
</script>
{% endblock %}
