{% extends "base.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% include 'partials/breadcrumbs.html' %}
  </ol>
</nav>

<div class="col-md-12">
  <h2 class="mb-3"><i class="fas fa-building"></i> {{ entity }}</h2>
  <div class="badge badge-primary">
    {{ entity.taxonomy }}
  </div>

  <div class="badge badge-secondary">
    {{ entity.size_class }}
  </div>

  <div class="row mb-4">
    {% with context = aggregate_stats %}
      {% include 'partials/baseball_stats.html' %}
    {% endwith %}
  </div>

  <div class="row intro">
    <div id="intro-text" class="col-lg-6">
      <p>The highest spending department in <strong>{{ entity }}</strong> is the <strong>{{ highest_spending_department.name|titlecase_standalone }}</strong>, with an annual payroll expenditure of <strong>{{ highest_spending_department.amount|format_salary }}</strong>.</p>

      <p><strong>{{ entity }}</strong> is classified as <strong>{{ entity.size_class }}</strong> because it is larger than <strong>{{ population_percentile|format_percentile }}</strong> of <strong>{{ entity.taxonomy }}</strong> populations in Illinois.</p>

      <p>The median salary in <strong>{{ entity }}</strong> is <strong>{{ median_salary|format_salary }}</strong>, which is higher than <strong>{{ salary_percentile|format_percentile }}</strong> of <strong>{{ entity.taxonomy }}</strong> median salaries in Illinois.</p>

      <p><strong>{{ entity }}</strong> has a total payroll expenditure higher than <strong>{{ expenditure_percentile|format_percentile }}</strong> of <strong>{{ entity.taxonomy }}</strong> expenditures in Illinois.</p>
    </div>
    <div id="employee-distribution-chart" class="col-lg-6"></div>
  </div>

  <div class="card mb-4">
    {% include 'partials/employee_card.html' %}
  </div>

  <div class="card mb-4">
    {% include 'partials/elected_officials_card.html' %}
  </div>

  <div class="card mb-4">
    {% include 'partials/department_card.html' %}
    <div id="department-composition-chart"></div>
  </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/chart_helper.js') }}"></script>

<script type="text/javascript">
  ChartHelper.make_salary_chart({{ employee_salary_json|safe }}, 'employee');
  ChartHelper.make_composition_chart({{ composition_json|safe }});
</script>
{% endblock %}
